//colors
// $color-primary: #f39c12;
// $color-primary-medium: #e67e22;
// $color-primary-dark: #d35400;

$color-primary: #ffc312;
$color-primary-medium: #f79f1f;
$color-primary-dark: #ee5a24;

$color-text-dark: #777;
$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #ccc;
$color-light-grey-3: #333;

$color-black: #000;
$color-white: #fff;

//gradients
$color-secondary-light: #1abc9c;
$color-secondary-dark: #2ecc71;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

//text
$default-font-size: 1.6rem;

//Grid
$grid-width: 136.8rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 2rem;
$gutter-vertical-small: 4rem;
